.index {
  background-color: #FFA07A;
}
li {
  margin: 5px;
  width: 100%;
  border-radius: 5px;
}
.idea {
  background-color: #FFFACD;
}
.passport { 
  background-color: #B0C4DE;
}
.proekt {
  margin: 10px;
}
